@use '@angular/material' as mat;
@use 'colors-definitions';
@use 'typography';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// Define a dark theme
$dark-theme: mat.define-dark-theme((
    color: (
        primary: mat.define-palette(colors-definitions.$palette-school21-primary),
        accent: mat.define-palette(colors-definitions.$school21accent),
    ),
        // Only include `typography` and `density` in the default dark theme.
        typography: typography.$typography-school21,
        density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
    color: (
        primary: mat.define-palette(colors-definitions.$palette-school21-primary, 900),
        accent: mat.define-palette(colors-definitions.$school21accent),
        background: colors-definitions.$light-theme-background-palette,
        foreground: colors-definitions.$light-theme-foreground-palette,
    ),
));

mat.$theme-ignore-duplication-warnings: true;

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    @include mat.all-component-themes($light-theme);
}