<mat-card class="dialog">
  <mat-toolbar class="mat-primary">
    <h2 class="mat-h2">Edit Card</h2>
  </mat-toolbar>
  <mat-dialog-content class="dialog-content">
    <form [formGroup]="cardForm" (ngSubmit)="save()">
      <mat-form-field class="full-width">
        <mat-label>Customer Card ID</mat-label>
        <input matInput class="full-width" type="number" id="customer_card_id" formControlName="customer_card_id"  [readonly]="isEditOnly">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Customer</mat-label>
        <mat-select id="customer" formControlName="customer" name="customer" required>
          @for (pd of personalDataList; track pd) {
            <mat-option [value]="pd.customer_id">{{pd.customer_name}} : {{pd.customer_surname}}
            </mat-option>
          }
          @if (cardForm.get('customer')?.hasError('required')) {
            <mat-error>Customer is <strong>required</strong></mat-error>
          }
        </mat-select>
      </mat-form-field>
      <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="cardForm.invalid">Submit</button>
        <button mat-raised-button color="accent" type="button" (click)="cancel()">Close</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</mat-card>