
<mat-toolbar class="header">
    <a [routerLink]="['/']">
        <img src="/assets/img/logo2.png" width="150" style="margin-top: 5px;">
    </a>
    <mat-divider [vertical]="true"></mat-divider>
    <nav mat-tab-nav-bar  [tabPanel]="tabPanel">
    <mat-divider [vertical]="true" style="margin-left: 15px;"></mat-divider>
    <a mat-tab-link
        [routerLink]="['/data']"
        routerLinkActive #rla1="routerLinkActive"
        [active]="rla1.isActive">
            Data
    </a>
    <a mat-tab-link
        [routerLink]="['/offers']"
        routerLinkActive #rla2="routerLinkActive"
        [active]="rla2.isActive">
            Offers
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</mat-toolbar>
