<mat-card>
    <mat-tab-group [@.disabled]="true">
        <mat-tab label="Personal Data">
            <mat-card-content>
                <app-personal-data-list></app-personal-data-list>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Cards">
            <mat-card-content>
                <app-cards-list></app-cards-list>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Checks">
            <mat-card-content>
                <app-checks-list></app-checks-list>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="SKU Groups">
            <mat-card-content>
                <app-sku-group-list></app-sku-group-list>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="SKU">
            <mat-card-content>
                <app-personal-data-list></app-personal-data-list>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Stores">
            <mat-card-content>
                <app-personal-data-list></app-personal-data-list>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Transactions">
            <mat-card-content>
                <app-personal-data-list></app-personal-data-list>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>