<div class="table-toolbar">
  @if (userCanAdd()) {
    <button mat-flat-button class="table-toolbar-button" color="primary" (click)="newItem()">New Item</button>
  }
</div>
<table mat-table [dataSource]="skuGroupList" class="data-table">

    <ng-container matColumnDef="group_id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.group_id}} </td>
    </ng-container>
    <ng-container matColumnDef="group_name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.group_name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" >
          @if (userCanChange()) {
            <button mat-flat-button (click)="edit(element)">Edit</button>
          }
          @if (userCanDelete()) {
            <button mat-flat-button (click)="deleteItem(element)" color="warn" >Delete</button> 
          }
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns">text</tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>