/* You can add global styles to this file, and also import other style files */
@import 'app/misc/info21-theme.scss';

.dialog {
    margin: 1px;
    min-width:30em;
}

.dialog-content {
    margin: 0px;
}

.full-width {
    width: 100%;
}